.banner {
	text-align: center;
	margin: 0.5em 0 0.5em 0;
}

.banner img{
	width: 100%;
}

.categories {
	width: 80%;
	margin: auto;
}

.categories h1 {
	font-weight: bold;
	background: #61C93F;
	border-top-left-radius: 1em;
	border-bottom-right-radius: 1em;
	color: #FFFFFF;
	margin: 1.5em 0 1.5em 0;
	padding: 1em;
	font-family: 'Coming Soon', serif;
	text-transform: uppercase;
}

.categories p {
	text-align: justify;
	padding: 1em;
}

.categories p span.focus {
	font-weight: bold;
}

.categories ul li {
	padding: 0.5em 1em 0.5em 1em;
	list-style-image: url('../images/list_item.png');
	list-style-position: inside;
}

.categories ul li a {
	text-decoration: none;
	color: #00000C;
}

.categories ul li a:hover {
	text-decoration: none;
	color: #005696;
}

.categories p a {
	text-decoration: none;
	color: #005696;
}

.juniors_category, .seniors_category {
	width: 100%;
	float: left;
	padding-bottom: 2em;
}

.right {
	width: 50%;
	float: left;
	position: relative;
}

.left {
	text-align: center;
	padding-top: 1.5em;
	width: 50%;
	float: left;
}

.left img, .right img {
	max-width: 100%;
	height: auto;
}

.coolest_project {
	clear: both;
	width: 80%;
	margin: auto;
	padding: 2em 0 2em 0;
}

.coolest_project h1 {
	text-transform: uppercase;
	background: #61C93F;
	border-top-left-radius: 1em;
	border-bottom-right-radius: 1em;
	font-family: 'Coming Soon', serif;
	color: #FFFFFF;
	padding: 1em;
	margin-bottom: 1.5em;
}

.coolest_project p {
	padding-bottom: 1em;
	text-align: justify;
}

.quotes_carousel {
	width: 80%;
	margin: auto;
	padding-top: 4em;
}

.quotes_carousel ul {
	list-style: none;
}

.winner-image {
	float: left;
	margin-right: 3em;
}

.winner-image img {
	border-radius: 50%;
}

.winner blockquote p {
	font-family: 'Dancing Script', sans-serif;
	font-size: 1.6em;
	text-align: justify;
	color: #787878;
}
.winner blockquote small {
	font-size: 1em;
	color: #0066FF;
}
