.banner {
	text-align: center;
	margin: 0.5em 0 0.5em 0;
}

.banner img{
	width: 100%;
}

.about_us {
	margin: 1.5em;
	padding-left: 10%;
	padding-right: 10%;
}

.about_us h1 {
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 1em;
	padding-bottom: 1.5em;
	font-family: 'Coming Soon', serif;
}

.about_us h1:before {
	content: url('../images/tag_icon.png');
	padding-right: 0.5em;
	vertical-align: -25%;
}

.about_us p  {
	text-align: justify;
	padding-bottom: 1em;
}

.categories {
	width: 80%;
	margin: auto;
}

.categories h2 {
	padding: 0.5em;
	border: 1px solid #00000C;
	border-top-right-radius: 1em;
	border-top-left-radius: 1em;
	background: #005696;
	text-align: center;
}

.categories h2 a {
	text-transform: uppercase;
	text-decoration: none;
	color: #FFFFFF;
}

.categories h2 a:hover {
	color: #ECEBDF;
}

.categories p, ul {
	background: #CDDAE4;
}

.categories p {
	padding: 1.5em 1em 1.5em 1em;
	text-align: justify;
}

.categories p span.focus {
	font-weight: bold;
}

.categories ul li {
	padding: 0.5em 1em 0.5em 1em;
	list-style-image: url('../images/list_item.png');
	list-style-position: inside;
}

.categories ul li a {
	text-decoration: none;
	color: #00000C;
}

.categories ul li a:hover {
	text-decoration: none;
	color: #005696;
}

.categories p a {
	text-decoration: none;
	color: #005696;
}

#left {
	width: 45%;
	float: left;
	margin-bottom: 2em;
}

#right {
	width: 45%;
	float: right;
	margin-bottom: 2em;
}